---
// Footer.astro 
---

<footer class="footer">
  <span class="footer-left">Built by Harshan with Astro.js</span>
  <div class="footer-links">
    <a href="#hero">Home</a>
    <a href="#about">About</a>
    <a href="#skills">Skills</a>
    <a href="#projects">Projects</a>
    <a href="#blog">Blog</a>
    <a href="#contact">Contact</a>
  </div>
  <span class="footer-right">devopsharshan.farmfresh.click</span>
</footer>
